body {
    font-family: sans-serif;
}

#app {
    width: 100%;
    background: #FFFFFF;
    overflow-x: hidden;
}

#content {
    width: 1000px;
    text-align: left;
}

.block {
    margin: 0 0 10px 0;
    padding: 10px;
}

.block-primary {
    background: #424242;
    color: #FFFFFF;
}

.block-secondary {
    background: #757575;
    color: #FFFFFF;
}

#search-btn {
    width: 100%;
    margin: 10px 0 0 0;
    border: none;
    background: #4FC3F7;
    color: #000000;
    height: 50px;
}

.results td {
    border: 1px solid black;
    padding: 5px;
}
