.table-row,
.table-row-special {
    width: 1000px;
    height: 40px;
    overflow-y: hidden;
    border-bottom: 1px solid #757575;
}

.table-row-special {
    background: #BBDEFB;
}

.table-header {
    text-align: center !important;
    font-weight: bold !important;
    line-height: 20px !important;
}

/* Total Width is 1000px */

.row-index {
    float: left;
    display: inline;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}

.row-recruit-office {
    float: left;
    display: inline;
    border-left: 1px solid #757575;
    width: 189px;
    height: 100%;
    padding: 0 5px 0 5px;
}

.row-name {
    float: left;
    display: inline;
    border-left: 1px solid #757575;
    width: 289px;
    height: 100%;
    padding: 0 5px 0 5px;
}

.row-birth {
    float: left;
    display: inline;
    border-left: 1px solid #757575;
    width: 99px;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.row-personal-id {
    float: left;
    display: inline;
    border-left: 1px solid #757575;
    width: 99px;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.row-local-command {
    float: left;
    display: inline;
    border-left: 1px solid #757575;
    width: 79px;
    height: 100%;
    overflow-x: hidden;
}

.row-local-command-field {
    font-family: sans-serif;
    font-size: 12pt;
    margin: 5px 0 0 5px;
    width: 65px;
}

.row-comment {
    float: left;
    display: inline;
    border-left: 1px solid #757575;
    width: 169px;
    height: 100%;
    overflow-x: hidden;
}

.row-comment-field {
    font-family: sans-serif;
    font-size: 12pt;
    margin: 5px 0 0 5px;
    width: 155px;
}

#total-container table,
#total-container th,
#total-container tr,
#total-container td {
    border: 1px solid black;
    border-spacing: 0;
    text-align: center;
}
